.topbar {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
}

.topbarWrapper {
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: darkblue;
  cursor: pointer;
}
.topbarRight {
  display: flex;
  align-items: center;
}
.topbarIconContainer {
  color: #555;
  position: relative;
  margin-left: 10px;
  cursor: pointer;
}
.topbarIconBadge {
  position: absolute;
  top: -5px;
  right: 0px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
